body{
    background-color: #eee;
}

.container{
    background-color: white;
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "aside main main"
    "footer footer footer";
    margin: 10px;
}
.footer{
    background-color: #6f9;
    grid-area: footer;
}
.header{
    background-color: #f96;
    grid-area: header;
}


.product-box{
    width: 100%;
    margin: auto;
    grid-area: main;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-content: flex-start;
    
}
.product-box__title{
    min-width: 100%;
    font-family: 'Cedarville Cursive', cursive;
    font-stretch: normal;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
}
.product-box__items{
    
    background-color: indigo;
    width: 300px;
    height: 400px;
    margin: 5px;
    text-align: center;
    color: white;
}
.categorias-aside{
    background-color: #888;
    grid-area: aside;
    min-width: 300px;
}

.categorias-aside__title h2{
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}

.categorias-aside__opciones li{
    font-family: 'Cedarville Cursive', cursive;
}