body{
    background-color: #eee;
}

.container{
    background-color: white;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "main main aside"
    "footer footer footer";
}

.footer{
    background-color: #6f9;
    grid-area: footer;
    margin-left: 10px

}
.header{
    background-color: #f96;
    grid-area: header;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 150px;
 
}

.product-info-aside {
    background-color: blue;
    grid-area: aside;
    margin-bottom: 10px;
    
}

.product-box{
    grid-area: main;
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}
.product-box__img{
    width: 458px;
    height: 458px;
    margin-left: 100px;
}
.product-box__info{
    width: 400px;
    height: 300px;
    margin-left: 140px;
    font-family: 'Cedarville Cursive', cursive;
}
